{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>LOGIN</h3>
                    <p>Please Enter your Credentials to login.</p>
                </div>
            </div>
            <div class="message" id="msg">{{msg}}</div>
            <form action="{{url_for('main.index')}}" class="login-form" method="post">
                <input type="text" placeholder="username" id="username" name="username" required>
                <input type="password" placeholder="password" id="password" name="password" required>
                <input type="submit" class="btn" value="login">
            </form>
        </div>
    </div>
</body>
<script>
    let userText = document.getElementById('username');
        userText.addEventListener('input', () =>{
            document.getElementById('msg').style.display='none';
        })
</script>
</html>
{% endblock %}